---
layout: archive
title: "Projects"
permalink: /projects/
author_profile: true
---

<style type="text/css">
  a {text-decoration:none;}
</style>

Introduction placeholder
Add references, video demo link, .. as part of every project section on this page
</br>

<a href="/projects/1_Capstone_project"> <h2><b>Automated Parallelization of Source Code using Program Comprehension</b></h2> </a>
<ul>
  <li>A Research Project aimed at exploring methods to improve the performance of sequential source code by automatically converting it to its functionally accurate parallel equivalent, thereby ensuring efficient utilization of the underlying hardware</li>
  <li>Implemented Intra-Function and Inter-Function Parallelism</li>
  <li>Intra-Function parallelism was implemented using the concept of program comprehension that enabled the identification of the intent and the algorithm implemented in a particular code section and consequent replacement with the optimized parallel version based on the defined mapping in the backend database</li>
  <li>Inter-Function parallelism was implemented using a novel thread scheduling algorithm that enabled the parallel execution of the different functions in the original sequential program</li>
  <li>A substantial performance gain, of up to 500 times for larger data was achieved, thereby resulting in effective utilization of the available resources</li>
  <li>Developed and implemented as part of the Capstone Project during my Undergraduate Study</li>
</ul>


<a href="/projects/2_Generic_Programming_C"><h2><b>Generic Programming in C</b></h2></a>
<ul>
  <li>A project aimed at implementing Generic Programming features as a design pattern in C, using pre-processor directives</li>
  <li>Implemented generic containers - list, stack, queue, vector and hashmap supporting all the different data types</li>
  <li>Implemented Iterators for each of these containers to decouple the containers and algorithms</li>
  <li>Implemented Generic Algorithms like find, find_if, count, count_if, min, max, accumulate that make use of the iterators</li>
  <li>Developed and implemented as part of the Design Patterns Course during my Undergraduate Study</li>
</ul>


<a href="/projects/3_Treaps"><h2><b>Implementation of Treaps</b></h2></a>
<ul>
  <li>A project aimed at implementing Treap as a generic data structure along with the different functionalities of a treap</li>
  <li>Treap is a data structure that stores pairs (say [X,Y]) in a binary tree such that it is a binary search tree by X and a binary heap by Y</li>
  <li>The entire treap and its individual nodes were built as generic canonical classes, thereby supporting all the different data types</li>
  <li>Supported multiple operations such as insert node, delete node, split treap, merge two treaps, union, intersection, difference and traversal of treaps</li>
  <li>Implemented a bidirectional iterator as a nested class within the treap class</li>
  <li>Implemented multiple member algorithms such as find and replace</li>
  <li>Developed and implemented as part of the Generic Programming Course during my Undergraduate Study</li>
</ul>


<a href="/projects/4_Mini_Compiler_Python"><h2><b>Mini Compiler for Python</b></h2></a>
<ul>
  <li>A project aimed at implementing a mini compiler for the Python programming language that supports the different phases of a typical compiler, namely lexical analysis, syntax analysis, semantic analysis, intermediate code generation and intermediate code optimization</li>
  <li>Supports the if, if-else, if-elif-else and for constructs, arithmetic, relational and logical operators, keywords, identifiers and various other features along with error detection and error handling mechanisms</li>
  <li>Developed and implemented as part of the Compiler Design Course during my Undergraduate Study</li>
</ul>


<a href="/projects/5_YACS_Big_Data"><h2><b>Yet Another Centralized Scheduler (YACS)</b></h2></a>
<ul>
  <li>A project aimed at implementing a centralised scheduling framework that maintains and manages a master node and multiple worker nodes, all simulated as different processes on a single machine</li>
  <li>The Master node receives job requests, which are scheduled on multiple slots across available worker machines</li>
  <li>The Master process consists of separate threads to listen to requests, to schedule map and reduce tasks and to listen to job completion information from workers
  <li>The Worker process listens to job allocation information and simulates execution</li></li>
  <li>Implemented 3 different scheduling algorithms, namely Least loaded, Round robin and Randomised.</li>
  <li>Developed and implemented as part of the Big Data Course during my Undergraduate Study</li>
</ul>


<a href="/projects/6_Spacetime_Trajectory_Estimation"><h2><b>Spacetime Trajectory Estimation</b></h2></a>
<ul>
  <li>A project aimed at simulating the events occuring after the end of a given video</li>
  <li>Implemented the following different stages in sequence:
    <ol>
      <li>Detecting and perceiving the relative depth of objects from a single camera using relative monocular depth perception</li>
      <li>Identifying and recognizing the objects in the video using YOLO Object Detection model</li>
      <li>Tracking the selected objects using a Multi Object Tracker and OpenCV</li>
      <li>Using the assimilated information to accurately estimate the three-dimensional kinematic parameters of the objects</li>
      <li>Simulating the events occurring after the end of the video in Unreal Engine by spawning the selected objects with the calculated parameters</li>
    </ol>
  </li>  
  <li>Can be used to develop the decision making abilities of self-driving vehicles and to generate diverse and quality data to train learning models</li>
  <li>Developed and implemented as part of the CDSAML Summer Internship</li>
</ul>


<a href="/projects/7_Blockchain_Transaction"><h2><b>Blockchain based Healthcare Transaction System</b></h2></a>
<ul>
  <li>A project aimed at implementing a custom Blockchain from scratch for a fast and secure Healthcare Transaction System</li>
  <li>Patient records and organ/blood donation transaction details are stored on this decentralized ledger using the concepts of a typical Blockchain</li>
  <li>Enables the secure storage of patient records to provide a common interface for hospitals and patients with the right permissions to access and update the data seamlessly</li>
  <li>Enables a transparent process for organ/blood donations, thereby eliminating any malicious practices</li>
  <li>Implemented a front-end website to access and retrieve records and to participate in organ/blood transactions</li>
  <li>Developed and implemented as part of Hackathons</li>
</ul>


<a href="/projects/8_Voice_Grievance"><h2><b>Voice Based Grievance System</b></h2></a>
<ul>
  <li>A project aimed at simplifying the process of recording citizen grievances and their addressal by the concerned civic department</li>
  <li>Implemented the following different stages in sequence:
    <ol>
      <li>Recording the complaints in voice and text format through the developed Android mobile application</li>
      <li>Conversion of the voice complaints to text</li>
      <li>Classification and redirection of the grievances to the concerned departments</li>
      <li>Ranking of the complaints within a department based on several parameters like severity, time-critical nature, etc</li>
    </ol>
  </li>
  <li>Implemented a mobile app to record the complaints and a front-end website for the respective departments</li>
  <li>The mobile app on the user side and the website on the department side are integrated to form a seamless end to end pipeline</li> 
  <li>Developed and implemented as part of Hackathons</li>
</ul>


The link to the test video is as follows: 
<a href="/experience/#test_video_demo" target="_top">Video Demo</a>

<!---!

Introduction placeholder

## Automated Parallelization of Source Code using Program Comprehension
  * A Research Project aimed at exploring methods to improve the performance of sequential source code by automatically converting it to its parallel equivalent, thereby ensuring efficient utilization of the underlying hardware
  * Implemented Intra-Function and Inter-Function Parallelism
  * Intra-Function parallelism was implemented using the concept of program comprehension that enabled us to identify the intent and the algorithm implemented in a particular code section and consequently replace it with the optimized parallel version based on the defined mapping in the backend database
  * Inter-Function parallelism was implemented using a novel thread scheduling algorithm that enabled the parallel execution of the different functions in the original sequential program
  * Implemented as part of the Capstone Project during my Undergraduate Study

## Generic Programming in C
  * A project aimed at implementing Generic Programming features as a design pattern in C using pre-processor directives
  * Implemented generic containers - list, stack, queue, vector and hashmap supporting all the different data types
  * Implemented Iterators for each of these containers to decouple the containers and algorithms
  * Implemented Generic Algorithms like find, count, min, max, accumulate, etc that make use of the iterators
  * Implemented as part of the Design Patterns Course during my Undergraduate Study

## Implementation of Treaps
  * A project aimed at implementing the Treap as a generic data structure along with the different functionalities of a treap
  * Treap is a data structure that stores pairs (say [X,Y]) in a binary tree such that it is a binary search tree by X and a binary heap by Y
  * The entire treap and its individual nodes were built as generic canonical classes, thereby supporting all the different data types
  * Supported multiple operations such as insert node, delete node, split treap, merge two treaps, union, intersection, difference and traversal of treaps
  * Implemented a bidirectional iterator as a nested class within the treap class
  * Implemented multiple member algorithms such as find and replace
  * Implemented as part of the Generic Programming Course during my Undergraduate Study

## Mini Compiler for Python
  * A project aimed at implementing a mini compiler for the Python programming language supporting the different phases of a typical compiler, namely lexical analysis, syntax analysis, semantic analysis, intermediate code generation and intermediate code optimization
  * Supports the if, if-else, if-elif-else and for constructs, arithmetic, relational and logical operators, keywords, identifiers and various other features along with error detection and error handling mechanisms
  * Implemented as part of the Compiler Design Course during my Undergraduate Study

## Yet Another Centralized Scheduler (YACS)
  * A project aimed at implementing a centralised scheduling framework maintaining a master node and multiple worker nodes, all simulated as different processes on a single machine
  * The Master node receives job requests, which are scheduled on multiple slots across available worker machines
  * The Master process consists of separate threads to listen to requests, schedule map and reduce tasks and to listen to job completion information from workers, whereas the Worker process listens to job allocation information and simulates execution
  * Implemented 3 different scheduling algorithms, namely Least loaded, Round robin and Randomised.
  * Implemented as part of the Big Data Course during my Undergraduate Study

## Spacetime Trajectory Estimation
  * A project aimed at realizing the following in sequence:
    * Detecting and perceiving the relative depth of objects from a single camera using relative monocular depth perception
    * Recognizing the objects using YOLO Object Detection model
    * Tracking objects using a Multi Object Tracker and openCV
    * Simulating the events occurring after the end of the video in Unreal Engine by estimating the three-dimensional kinematic parameters of the objects
  * Provides better analysis of events through simulation
  * Implemented as part of the CDSAML Summer Internship

## Blockchain based Transaction System
  * Patient records and transaction details are stored on a decentralized ledger, enabling fast, secure and digitalised approach to organ/blood donation
  * Implemented as part of Hackathons

## Voice Based Grievance System
  * Developed an application to collect voice complaints, applied speech to text conversion on them and categorised and ranked them based on severity using the IBM Watson NLU
  * Provides for efficient response and timely resolution of grievances by the officials
  * Implemented as part of Hackathons


The link to the test video is as follows: 
<a href="/experience/#test_video_demo" target="_top">Video Demo</a>
--->

<!---!
{% for post in site.projects reversed %}
  {% include archive-single.html %}
{% endfor %}
--->
